.back-button {
  background: transparent;
  border: 4px solid transparent;
  color: var(--text-color);
  font-family: var(--font-header);
  font-size: 12px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  display: block;
}

.back-button:hover {
  color: var(--primary);
  text-shadow: 2px 2px 0 var(--secondary);
  border-left: 4px solid var(--primary);
}
